<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>kamu akan membuat appointment dengan dokter (nama dokter) spesialis (nama spesialis)</p>
    <form action="" method="post">
        <label for="">date</label> <br>
        <input type="date" name="date" id=""> <br>
        <label for="">service type</label> <br>
        <select name="cost" id=""> <br>
            <option value="" selected disabled>--Select--</option>
            <option value="1">Basic</option>
            <option value="2">Standard</option>
            <option value="3">Premium</option>
        </select> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>