<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if (message) { %>
        <p style="color: blueviolet;"><%= message %></p>
    <% } %>
    <h1>Selamat datang, <%= userProfile.namaLengkap %></h1>

    <a href="/editProfile">Edit Profile</a> <br>
    <a href="/appointments">my appointments</a> <br>
    <a href="/doctors">Doctors List</a> <br>
    <a href="/logout">Logout</a> <br>
</body>
</html>
