<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>home</h1>

    <a href="/logout">Logout</a>

    <p>gw masih gak kebayang kaya gimana, tp mungkin keknya bikin simple aja
        selamat datang (nama user)

        terus ada link ke

        my appointments
        edit profile
        doctor list

        sama bikin navbar terus ada link buat logoutnya
    </p>
</body>
</html>