<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>register</p> <br> 
    <form action="" method="post">
        <label for="">email</label> <br>    
        <input type="email" name="email"> <br> 
        <label for="">password</label> <br> 
        <input type="password" name="password"> <br> 
        <label for="">first name</label> <br>
        <input type="text" name="firstName" id=""> <br>
        <label for="">last name</label> <br>
        <input type="text" name="lastName" id=""> <br>
        <label for="">Birth Date</label> <br>
        <input type="date" name="dateOfBirth" id=""> <br>
        <label for="">Gender</label> <br>
        <input type="radio" name="gender" value="male"> male
        <input type="radio" name="gender" value="female"> female <br>
        <label for="">address</label> <br>
        <textarea name="address" id="" cols="30" rows="10"></textarea> <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>