<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <% if (error) { %>
        <script>
            Swal.fire(
               'Error!',
               `<%= error %>`,
               'error'
           )
        </script>
    <% } %>
    <form action="" method="post">
        <label for="">Email</label><br>
        <input type="email" name="email" id=""><br>
        <label for="">Password</label><br>
        <input type="password" name="password" id=""><br>
        <label for="">First Name</label><br>
        <input type="text" name="firstName" id=""><br>
        <label for="">Last Name</label><br>
        <input type="text" name="lastName" id=""><br>
        <label for="">Birth Date</label><br>
        <input type="date" name="dateOfBirth" id=""><br>
        <label for="">Gender</label><br>
        <input type="radio" name="gender" id="" value="male">
        <label for="">Male</label>
        <input type="radio" name="gender" id="" value="female">
        <label for="">Female</label><br>
        <label for="">Address</label><br>
        <textarea name="address" id="" cols="30" rows="10"></textarea><br><br>
        <button type="submit">Register!</button>
    </form>
</body>
</html>