body {
    background-image: url('/assets/home.jpg');
    background-size: cover; /* Ensures the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    margin: 0; /* Reset default margin to ensure full coverage */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}